<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Frontend-test (Robots App)</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script type="text/javascript" src="js/vendor/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="js/vendor/backbone.marionette.min.js"></script>
</head>
<body>
<div id="container" class="container">
</div>

<script type="text/template" id="robot-list">
    <div class="col-md-12">
        <div class="row">
            <h1>Список роботов</h1>
        </div>
        <div class="row">
            <div class="row toolbar">
                <div class="col-sm-8">
                    <button class="btn btn-default add">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Найти..." id="search-text"
                               value="<%- name %>">
                           <span class="input-group-btn">
                            <button class="btn btn-default find" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                           </span>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название робота</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/template" id="robot-item">
    <td><%- id %></td>
    <td><%- name %></td>
</script>

<script type="text/template" id="robot-edit">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="row">
                <h1 class="edit-title"></h1>
            </div>
            <form>
                <div class="form-group">
                    <label>Название робота</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Тип</label>
                    <select class="form-control" name="type">
                        <option value="droid">Дройд</option>
                        <option value="virtual">Виртуальный</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Год создания</label>
                    <input type="text" class="form-control" name="year">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button class="btn btn-default cancel">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/entities/robot.js"></script>
<script type="text/javascript" src="js/apps/robots/common/form_view.js"></script>
<script type="text/javascript" src="js/apps/robots/list/list_vm.js"></script>
<script type="text/javascript" src="js/apps/robots/list/list_view.js"></script>
<script type="text/javascript" src="js/apps/robots/list/list_controller.js"></script>
<script type="text/javascript" src="js/apps/robots/new/new_view.js"></script>
<script type="text/javascript" src="js/apps/robots/new/new_controller.js"></script>
<script type="text/javascript" src="js/apps/robots/robots_app.js"></script>
<script>
    App.start();
</script>
</body>
</html>